<section class="relative w-full px-8 py-20 overflow-hidden md:px-16 lg:px-24 bg-gray-50">
  <%# <%= render 'testimonials_floating_icons' %> 

  <!-- Heading -->
  <div class="relative mb-16 text-center">
    <div class="mb-4 font-medium text-blue-700">Latest Articles</div>
    <h2 class="mb-4 text-3xl font-bold text-blue-900">
      Stay Updated with Our Blog
    </h2>
    <p class="max-w-2xl mx-auto text-gray-600">
      Discover the latest insights, tips, and trends in the cleaning industry
    </p>
  </div>

  <%= render Components::RecentBlogs.new(@articles) %>  


</section>
