<div class="absolute inset-0 z-0 overflow-hidden pointer-events-none">
  <div class="absolute top-10 right-20 animate-float-slow">
    <div class="text-4xl text-red-400 rotate-12">+</div>
  </div>
  <div class="absolute bottom-20 left-10 animate-float-delayed">
    <div class="text-4xl text-red-400">+</div>
  </div>
  <div class="absolute top-40 left-20 animate-float">
    <div class="w-6 h-6 rotate-45 border-2 border-blue-200"></div>
  </div>
  <div class="absolute bottom-40 right-20 animate-float-slow">
    <div class="w-0 h-0 border-l-[10px] border-l-transparent border-b-[18px] border-b-orange-300 border-r-[10px] border-r-transparent"></div>
  </div>
</div>
