
<div class="absolute inset-0 overflow-hidden pointer-events-none">
      <div class="absolute top-20 left-40 animate-float-delayed">
        <div class="w-8 h-8 border-2 border-blue-300 rounded-full"></div>
      </div>
      <div class="absolute bottom-32 right-40 animate-float">
        <div class="text-2xl text-yellow-400">★</div>
      </div>
      <div class="absolute top-1/2 left-20 animate-float-slow">
        <div class="w-4 h-4 border-2 border-purple-300 border-dotted rotate-12"></div>
      </div>
      <div class="absolute top-28 right-1/4 animate-float-slower">
        <div class="text-xl text-green-400">×</div>
      </div>
      <div class="absolute top-1/2 right-16 animate-float-delayed">
        <div class="w-4 h-4 rotate-45 bg-pink-200"></div>
      </div>
      <div class="absolute bottom-16 left-1/4 animate-float-slow">
        <div class="flex space-x-1">
          <div class="w-1.5 h-1.5 bg-orange-300 rounded-full"></div>
          <div class="w-1.5 h-1.5 bg-orange-300 rounded-full"></div>
          <div class="w-1.5 h-1.5 bg-orange-300 rounded-full"></div>
        </div>
      </div>
    </div>